@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JokeVault</h1>
    <p>Welcome! For all those times where your funny bone is simply starving</a>.</p>
</div>
